{% extends "signed_in.html" %}
{% block extra_css %}
<link rel='stylesheet' type='text/css' href="{{url_for('static',filename='fullcalendar/css/fullcalendar.css')}}" />
<link rel='stylesheet' type='text/css' href="{{url_for('static',filename='fullcalendar/css/fullcalendar.print.css')}}" />
<script type='text/javascript' src="{{url_for('static',filename='fullcalendar/js/fullcalendar.min.js')}}"></script>
<style>
  .dark-grey-bg {
    background-color: rgb(102,102,102);
  }
</style>
{% endblock %}
{% block content %}

<div class="jumbotron white-bg" style='height:100px'>
  <div class="container">
    <h2 class="dark-grey">Finalized Events</h2>  
  </div>
</div>

<div class="dark-grey-bg">
  <div class="container" id="calendar"></div>
</div>
{% endblock %}
{% block scripts %} 
<script>
  $(document).ready(function() {
      // event_array = []
      // for (e in {{events|safe}}) {
      //   console.log(e);
      //   event_array.push({
      //     title: e['title'],
      //     start: e['start'],
      //     allDay: false
      //   })
      // }
      // console.log(event_array)
      $('#calendar').fullCalendar({
        header: {
          left: 'prev, title, next',
          center: '',
          right: 'year,month,basicWeek'
        },
        editable: false,
        events: {{events|safe}}
      })
  });
</script>
{% endblock %}