{% extends "base.html" %}
{% block extra_css %}
<style>
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 50px;
  }
  .white-bg {
    background-color: white;
  }
  * {
  margin: 0;
  }
  html, body {
    height: 100%;
  }
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
    height: 50; /* .push must be the same height as .footer */
  }
</style>
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Let's Meet</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign In</a></li>
    </ul>
</nav>

<div class="jumbotron white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-right">
        <h2>We make scheduling meet ups easy</h2>  
      </div>
      <div class="col-md-2 text-center">
        <h2><a class="btn btn-primary btn-large">Get Started</a></h2> 
      </div>
    </div>
  </div>
</div>

<img src="{{url_for("static",filename="images/home.png")}}" class="img-responsive"></img>

{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <input type="submit" value="Login with {{ display_name }}" />
  </form>
{% endmacro %}

<div class="container" style='height:150px; padding:20px'>
  <center>
    {{ social_login('facebook', 'Facebook' )}}
    {{ social_login('google', 'Google' )}}
    <h3><button class="btn btn-primary btn-large">Sign up with Facebook</h3>
    <h3><button class="btn btn-info btn-large">Sign up with Google</h3>
  </center>
</div>

<div class="footer">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">@Let's Meet 2014</a></li>
      </ul>
    </div>
  </nav>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}