{% extends "base.html" %}

{% block content %}

{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <input type="submit" value="Login with {{ display_name }}" />
  </form>
{% endmacro %}


{{ social_login('facebook', 'Facebook' )}}
{{ social_login('google', 'Google' )}}




<a href="">Facebook OAuth2</a> <br />
<a href="/google_connect">Google Connect</a> <br />
<a href="/add_fakedata">Add fake data</a>

<h1>{% if user.is_authenticated()%}fb key: {{user.fb_key}}{% endif %}</h1>
<h3>{% if user.is_authenticated()%}google key: {{user.google_key}}{% endif %}</h3>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
    $('#persona').on('click', function (e) {
        e.preventDefault();
        var self = $(this);

        navigator.id.get(function (assertion) {
            if (assertion) {
                self.parent('form')
                        .find('input[type=hidden]')
                        .attr('value', assertion)
                        .end()
                    .submit();
            } else {
                alert('Some error occurred');
            }
        });
    });
});
</script>
{% endblock %}