{% extends "signed_in.html" %}
{% block extra_css %}
<style>
  .dark-grey-bg {
    background-color: rgb(102,102,102);
    padding: 20px;
  }
  .light-grey-bg {
    background-color: rgb(230, 230, 230);
    padding: 20px;
  }
  table {
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    color: black;
    width: 100%;
  }
  td {
    height: 50px;
  }
  .tr-line {
    text-align: left;
    border-bottom: 1px dotted rgb(156,156,156);
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron white-bg" style='height:100px'>
  <div class="container">
    <h2 class="dark-grey">My Events</h2>  
  </div>
</div>

<div class="dark-grey-bg">
  <p><h3><font color="white"> Events invites </font></h3></p>
  <div class="container light-grey-bg" style='padding:20px'>

    <table>
      <th>
        <tr class="tr-line">
          <td>Event name</td>
          <td>Location</td>
          <td>Time</td>
          <td>Date</td>
          <td>Status</td>
        </tr>
      </th>
      {% for e in events['invited_events'] %}
      <tr class="tr-line">
        <td>{{e['name']}}</td>
        <td>{{e['location']}}</td>
        <td>{{e['suggested_from_time'].split('T')[0]}}</td>
        <td>{{e['suggested_from_time'].split('T')[1]}}</td>
        {% if e['res'] == 'notfound' %}
          <td>
            <div class="btn-group">
              <button event_id="{{e['id']}}" class="res btn btn-default">Yes</button>
              <button event_id="{{e['id']}}" class="res btn btn-default">No</button>
            </div>
            <span class="hide"></span>
          </td>
        {% else %}
          <td>{{e['res']}}</td>
        {% endif %}
      </tr>  
      {% endfor %}
    </table>
  </div>
  <p><h3><font color="white"> Events I created </font></h3></p>
  <div class="container light-grey-bg" style='padding:20px'>
  <table>
      <th>
        <tr class="tr-line">
          <td>Event name</td>
          <td>Location</td>
          <td>Time</td>
          <td>Date</td>
          <td>Response</td>
        </tr>
      </th>
      {% for e in events['created_events'] %}
      <tr class="tr-line">
        <td>{{e['name']}}</td>
        <td>{{e['location']}}</td>
        <td>{{e['suggested_from_time'].split('T')[0]}}</td>
        <td>{{e['suggested_from_time'].split('T')[1]}}</td>
        {% if e['status'] == 'started' %}
        <td>Pending</td>
        {% else %}
        <td>{{e['status']}}</td>
        {% endif %}
      </tr>  
      {% endfor %}
    </table>
  </div>  
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function(){
  $('.res').click(function(e){
    e.preventDefault();
    opts = {
      'event_id': $(e.target).attr('event_id'),
      'response': $(e.target).text() == 'Yes'  
    }
    console.log(opts);
    $.post('/events/respond_web', opts, function(data){
      console.log(data);
      $(e.target).parent().hide();
      console.log($(e.target).parent().siblings('span'));
      $(e.target).parent().siblings('span').html($(e.target).text());
      $(e.target).parent().siblings('span').removeClass('hide');
    });
  });
});
</script>
{% endblock %}

