{% extends "signed_in.html" %}
{% block extra_css %}
<style>
  .dark-grey-bg {
    background-color: rgb(102,102,102);
    padding: 20px;
  }
  .light-grey-bg {
    background-color: rgb(230, 230, 230);
    padding: 20px;
  }
  table {
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    color: black;
    width: 100%;
  }
  td {
    height: 50px;
  }
  .tr-line {
    text-align: left;
    border-bottom: 1px dotted rgb(156,156,156);
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron white-bg" style='height:100px'>
  <div class="container">
    <h2 class="dark-grey">My Events</h2>  
  </div>
</div>

<div class="dark-grey-bg" style='height:100%'>
  <p><h3><font color="white"> Events invites </font></h3></p>
  <div class="container light-grey-bg" style='padding:20px'>

    <table>
      <th>
        <tr class="tr-line">
          <td>Event name</td>
          <td>Location</td>
          <td>Time</td>
          <td>Date</td>
          <td>Status</td>
        </tr>
      </th>
      {% for e in events['invited_events'] %}
      <tr class="tr-line">
        <td>{{e['name']}}</td>
        <td>{{e['location']}}</td>
        <td></td>
        <td></td>
        <td>{{e['status']}}</td>
      </tr>  
      {% endfor %}
    </table>
  </div>
  <p><h3><font color="white"> Events I created </font></h3></p>
  <div class="container light-grey-bg" style='padding:20px'>
  <table>
      <th>
        <tr class="tr-line">
          <td>Event name</td>
          <td>Location</td>
          <td>Time</td>
          <td>Date</td>
          <td>Response</td>
        </tr>
      </th>
      {% for e in events['created_events'] %}
      <tr class="tr-line">
        <td>{{e['name']}}</td>
        <td>{{e['location']}}</td>
        <td></td>
        <td></td>
        {% if e['status'] == 'started' %}
        <td>Pending</td>
        {% else %}
        <td>{{e['status']}}</td>
        {% endif %}
      </tr>  
      {% endfor %}
    </table>
  </div>  
</div>
{% endblock %}

